* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

.nav-links {
  padding-right: 1em ;
}

.home {
  text-align: center;
  padding-top: 10px;
}

.login {
  display: grid;
  grid-template-columns: 1fr;
  border: solix black 1px;
  padding-bottom: 30px;
}

.camps {
  text-align: center;
  padding-top: 10px;
}

.camps-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: black;
  padding: 5px;
  height: 100%;
  grid-gap: 10px;
}

.camps-item {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  font-size: 25px;
  text-align: center;
}

.card-image {
  height: 12rem;
  width: 75%;
  object-fit: cover
}

label {
    display: inline-block;  
    width: 250px;
    text-align: right;
    padding: 5px; 
}

.register-btn {
  margin-left: 300px;
  
  
}

.learn-more {
  cursor: pointer;
}