* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

.nav-links {
  padding-right: 1em ;
}

.home {
  text-align: center;
  padding-top: 10px;
}

.camps {
  text-align: center;
  padding-top: 10px;
}